

<div id = "profil" class="fos_user_user_show">
    <p>
    	<span class="profil_label"> {{ 'profile.show.username'|trans({}, 'FOSUserBundle') }} : </span>
    	{{ user.username }}
    </p>
    <p>
    	<span class="profil_label"> {{ 'profile.show.email'|trans({}, 'FOSUserBundle') }} : </span>
    	{{ user.email }}
    </p>
    <p>
    	<span class="profil_label"> {{ 'profile.show.lastname'|trans({}, 'FOSUserBundle') }} : </span>
    	{{ user.lastname }}
    </p>
    <p>
    	<span class="profil_label"> {{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }} : </span>
    	{{ user.firstname }}
    </p>
    <p>
    	<span class="profil_label"> {{ 'profile.show.address'|trans({}, 'FOSUserBundle') }} : </span>
    	{{ user.address }}
    </p>
    <p>
    	<span class="profil_label"> {{ 'profile.show.zipcode'|trans({}, 'FOSUserBundle') }} : </span>
    	{{ user.zipcode }}
    </p>
    <p>
    	<span class="profil_label"> {{ 'profile.show.city'|trans({}, 'FOSUserBundle') }} : </span>
    	{{ user.city }}
    </p>
    <p>
    	<span class="profil_label"> {{ 'profile.show.phone'|trans({}, 'FOSUserBundle') }} : </span>
    	{{ user.phone }}
    </p>
	<br>

    {% if is_granted("ROLE_ADMIN") or app.user==user %}
    <form method="GET" action="{{ path("users_edit", { 'id': user.id }) }}">
      <input type="submit" value="Éditer le profil" />
    </form>
    {% endif %}
    {% if app.user==user %}
    <form method="GET" action="{{ path("fos_user_change_password") }}">
      <input type="submit" value="Changer mon mot de passe" />
    </form>
    {% endif %}
</div>
