<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}UnsapaIPW{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        {% stylesheets '@UnsapaIPWBundle/Resources/public/css/application.css' %}
          <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    </head>
    <body>
        {% block menu %}
            <nav>
                <a alt="Mes examens" href="{{ path('exams') }}">
                  <img src="{{ asset('bundles/unsapaipw/images/documents.png') }}" width="75px" height="75px" alt="Mes examens" />
                </a>
                {% if is_granted('ROLE_TD') %}
                <a alt="Ajouter Examen" href="{{ path('exams') }}/add">
                  <img src="{{ asset('bundles/unsapaipw/images/adddocument.png') }}" width="75px" height="75px" alt="Ajouter un examen" />
                </a>
                {% endif %}
            </nav>
        {% endblock %}

        <div id="content">
        {% block content %}
        {% endblock %}
        </div>

        <div class="fos_user_content">
            {% block fos_user_content %}
            {% endblock %}
        </div>
        <footer>
            {% block footer_js %}
            {% endblock %}
        </footer>
      </body>
</html>
