<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}UnsapaIPW{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
		{% stylesheets 
			'@UnsapaIPWBundle/Resources/public/css/application.css' 
			'@UnsapaIPWBundle/Resources/public/css/ui-lightness/jquery-ui-1.8.20.custom.css'
		%}
       <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block css %}{% endblock %}

		{% javascripts
			'@UnsapaIPWBundle/Resources/public/js/jquery-1.7.1.min.js'
			'@UnsapaIPWBundle/Resources/public/js/jquery-ui-1.8.20.custom.min.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}" ></script>
		{% endjavascripts %}

        {% block header_js %}{% endblock %}

    </head>
	<body>
		{% block user_bar %}
			<div id="user_nav">
			{% if is_granted("ROLE_STUDENT") %}
				<a href="{{ path("fos_user_profile_show") }}" alt="profil">Mon profil</a>
				<span class="end_of_line">
				<a id="deconnexion" href="{{ path("fos_user_security_logout") }}" alt="deconnexion">Déconnexion</a>
				</span>
			{% else %}
				<a href="{{ path("fos_user_security_login") }}" alt="Connexion">Connexion</a>
				<a href="{{ path("fos_user_registration_register") }}" alt="Connexion">S'enregistrer</a>
			{% endif %}
			</div>
		{% endblock %}

        {% block menu %}
        <nav>
            <a class="link_my_exams" alt="Mes examens" href="{{ path('exams') }}">
              <img src="{{ asset('bundles/unsapaipw/images/documents.png') }}" width="85px" height="90px" alt="Mes examens" />
            </a>
            <a class="link_stats" alt="Stats" href="{{ path('stats') }}">
              <img src="{{ asset('bundles/unsapaipw/images/stats.png') }}" width="60px" height="80px" alt="Stats" />
            </a>
        </nav>
        {% endblock %}

        <div id="content">
        {% block content %}
        {% endblock %}
        </div>

        <div class="fos_user_content">
            {% block fos_user_content %}
            {% endblock %}
        </div>
        <footer>
			{% javascripts
				'@UnsapaIPWBundle/Resources/public/js/application.js'
			%}
				<script type="text/javascript" src="{{ asset_url }}" ></script>
			{% endjavascripts %}
            {% block footer_js %}
            {% endblock %}
        </footer>
    </body>
</html>
