{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block css %}
		{% stylesheets 
			'@UnsapaIPWBundle/Resources/public/css/exam_students.css' 
		%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
  <h1>Gestion des étudiants</h1>
  <h2>Examen : <a alt="{{ exam.title }}" href="{{ path("exam_show", {'id':exam.id})}}">{{ exam.title }}</a></h2>
  <form method="POST" action="{{ path("exam_students", { 'id': exam.id }) }}" >
    <div id="exam_students">
      {% for user in exam_users %}
        <input type="checkbox" name="student{{user.id}}" selected="selected" value="{{ user.id }}" checked/>{{ user.firstname }} {{ user.lastname }}<br>
      {% endfor %}
      <br><input type="submit"/>
    </div>
    <div id="non_exam_students">
      {% for user in not_exam_users %}
        <input type="checkbox" name="student{{user.id}}" selected="selected" value="{{ user.id }}" />{{ user.firstname }} {{ user.lastname }}<br>
      {% endfor %}
    </div>
  </form>
  {% if records|length != 0 %}
  <div id="download_records">
    <h3>Les étudiants suivantes ont déjà effectué un rendu : </h3>
    <ul>
    {% for record in records %}
      <li>{{ record.student }} (
        <a alt="Téléchargement du rendu" href="{{ path("download_record", {'userid' : record.student.id, 'examid' : record.exam.id } )}}">
          Télécharger
          <img class="download_image" src="{{ asset("bundles/unsapaipw/images/download.png")}}" alt="Image téléchargement" />
        </a>)
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}
