{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block title %}Ajout d'un examen{% endblock %}

{% block content %}
  <h1>Mes examens</h1>
  {% if records_pending|length > 0 %}
    <div id="record_submit" class="submit_head">
      <a id="add_record_link" class="link_img_text" href="{{ path("exam_submit") }}" alt="Proposer un rendu">
        <img class="float_img" src="{{ asset("bundles/unsapaipw/images/adddocument.png") }}" width="64" alt="Image - Ajouter un examen" \>
        </br>
        Proposer un rendu
      </a>
    </div>
    <p>Vous êtes inscrit à :</p>
    <div id="exams_pending">
      <ul>
      {% for record in records_pending %}
        <li>
        {{ record.exam }} (Échéance : {{ record.exam.getFormatExamDate() }})
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if records_ended|length > 0 %}
    <p>Vous avez participé à :</p>
    <div id="exams_ended">
      <ul>
      {% for record in records_ended %}
        <li>
          {{ record.exam }} (Note : {{ record.mark }} )
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}

{% block footer_js %}
	{% javascripts
		'@UnsapaIPWBundle/Resources/public/js/exam_index.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
{% endblock %}
