{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block title %}Mes examens{% endblock %}

{% block content %}
<h1>Mes examens</h1>
<div id="exam_add" class="submit_head" >
  <a class="link_img_text" href="{{ path("exam_add") }}" alt="Ajouter un examen">
    <img class="float_img" src="{{ asset("bundles/unsapaipw/images/adddocument.png") }}" width="64" alt="Image - Ajouter un examen" \>
    </br>
    Ajouter un examen
  </a>
</div>
<p>Les examens <strong>en cours</strong> dont vous êtes responsable :</p>
<div id="exams_pending">
  <ul>
  {% for exam in exams_pending %}
    <li>
    <a href="{{ path("exam_show", { 'id': exam.id } ) }}" alt="{{ exam.title }}"> {{ exam.title }}</a> ( {{ exam.getExamDate().format('Y-m-d') }} )
    <a href="{{ path("exam_students", { 'id': exam.id }) }}" alt="gérer les étudiants">Étudiants concernés</a>
    </li>
  {% endfor %}
  </ul>
</div>
<p>Les examens <strong>terminés</strong> dont vous êtes responsable :</p>
<div id="exams_ended">
  <ul>
  {% for exam in exams_ended %}
    <li>
    <a href="{{ path("exam_show", { 'id': exam.id } ) }}" alt="{{ exam.title }}"> {{ exam.title }}</a> ( {{ exam.getExamDate().format('Y-m-d') }} )
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
