{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block title %}Mes examens{% endblock %}

{% block content %}
<h1>Mes examens</h1>
<div id="exam_add" class="submit_head" >
  <a href="{{ path("exam_add") }}" alt="Ajouter un examen">
    <img src="{{ asset("bundles/unsapaipw/images/adddocument.png") }}" width="64" alt="Image - Ajouter un examen" \>
    <span class="link_img_text">Ajouter un examen</span>
  </a>
</div>
<p>Les examens dont vous êtes responsable :</p>
<div id="exams">
  <ul>
  {% for exam in exams %}
    <li>
    <a href="{{ path("exam_show") }}/{{ exam.id }}" alt="{{ exam.title }}"> {{ exam.title }} ( {{ exam.getExamDate().format('Y-m-d H:i:s') }} ) </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
