{% extends 'UnsapaIPWBundle::layout.html.twig' %}
 
{% block title %}Utilisateurs{% endblock %}

{% block content %}
	<table>
	<thead>
		<tr>
			<th>Etudiants</th>
      <th>Professeurs</th>
      <th>Administrateurs</th>
		</tr>
	</thead>
	
	<tbody>
	{% set show=0 %}
	<td valign=top>
	{% for user in users %}
		{% for role in user.roles %}
			{% if role == "ROLE_STUDENT" %}
				{% set show=1 %}
			{% elseif role == "ROLE_TD" %}
				{% set show=2 %}
			{% elseif role == "ROLE_ADMIN" %}
				{% set show=3 %}
			{% endif %}
		{% endfor %}
			{% if show==1 %}		
				<a href="{{ path('users_show', { 'id': user.id })}}">
					{{ user.firstname }}
					{{ user.lastname }} : 
					Promo {{ user.promo }}
				</a><br/>
			{% endif %}
	{% endfor %}
	</td>

	<td valign=top>
	{% for user in users %}
		{% for role in user.roles %}
			{% if role == "ROLE_STUDENT" %}
				{% set show=1 %}
			{% elseif role == "ROLE_TD" %}
				{% set show=2 %}
			{% elseif role == "ROLE_ADMIN" %}
				{% set show=3 %}
			{% endif %}
		{% endfor %}
			{% if show==2 %}
				<a href="{{ path('users_show', { 'id': user.id })}}">
					{{ user.firstname }}
					{{ user.lastname }}
				</a><br/>
			{% endif %}
	{% endfor %}
	</td>
	<td valign=top>
	{% for user in users %}
		{% for role in user.roles %}
			{% if role == "ROLE_STUDENT" %}
				{% set show=1 %}
			{% elseif role == "ROLE_TD" %}
				{% set show=2 %}
			{% elseif role == "ROLE_ADMIN" %}
				{% set show=3 %}
			{% endif %}
		{% endfor %}
			{% if show == 3 %}
				<a href="{{ path('users_show', { 'id': user.id })}}">
					{{ user.firstname }}
					{{ user.lastname }}
				</a><br/>
			{% endif %}
	{% endfor %}
	</td>
	</tbody>
	
	</table>	
{% endblock %}
